*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 37.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E1F0DA;
}

html {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-xl {
  margin-top: 5rem;
}
.mt-xxl {
  margin-top: 6rem;
}
.mt-xxxl {
  margin-top: 7rem;
}
.mt-xxxxl {
  margin-top: 8rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  padding: 3rem 10rem;
  background-color: #D4E7C5;
}
.nav__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo {
  height: 3.5rem;
  width: 3.5rem;
}
.nav__logo-text {
  font-size: 2.5rem;
  font-weight: 700;
}
.nav__links {
  font-weight: 500;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  cursor: pointer;
}
.nav__link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #99BC85;
}
.nav__cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.nav__cart-icon {
  font-size: 2rem;
}
.nav__cart-text {
  font-weight: 500;
  font-size: 1.5rem;
}
.nav__cart-orders {
  font-size: 1.2rem;
  background-color: #99BC85;
  color: #fff;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__active {
  color: #99BC85;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 240, 218, 0.8)), to(rgba(225, 240, 218, 0.8))), url(../assets/img/hero-bg.jpg);
  background-image: linear-gradient(rgba(225, 240, 218, 0.8), rgba(225, 240, 218, 0.8)), url(../assets/img/hero-bg.jpg);
  background-size: cover;
}
@media only screen and (max-width: 68.75em) {
  .hero__content {
    text-align: center;
  }
}
.hero__heading {
  font-size: 5rem;
  font-weight: 800;
}
@media only screen and (max-width: 68.75em) {
  .hero__heading {
    font-size: 4rem;
  }
}
.hero__text {
  font-size: 1.5rem;
}
.hero__img {
  display: inline-block;
  width: 50%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.collection__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.collection__text {
  font-size: 2rem;
  width: 30%;
  text-align: center;
  margin: 2rem auto;
}
.collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 6rem;
  gap: 3rem;
}
@media only screen and (max-width: 46.875em) {
  .collection__container {
    gap: 2rem;
  }
}

.reviews {
  margin: 10rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
@media only screen and (max-width: 68.75em) {
  .reviews {
    margin: 5rem 7rem;
  }
}
.reviews__content {
  background-color: #BFD8AF;
  padding: 7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.reviews__content__heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.reviews__content__author {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.reviews__content__author__img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.reviews__content__author__details__name {
  font-size: 1.5rem;
  font-weight: 600;
}
.reviews__content__author__details__address {
  margin-top: 0.3rem;
}
.reviews__content__author__rating {
  font-size: 3.5rem;
  margin-left: auto;
  color: #f3d768;
}
.reviews__img {
  height: 55rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta-shop {
  margin: 5rem 2rem;
}
.cta-shop__header {
  margin: 3rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cta-shop__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.cta-shop__paragraph {
  font-size: 1.2rem;
}
.cta-shop__btn {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.cta-shop__btn:hover .cta-shop__btn-arr {
  margin-left: 0.3rem;
}
.cta-shop__btn-arr {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cta-shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.cta-shop__card {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  overflow: hidden;
}
.cta-shop__card:hover .cta-shop__card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.cta-shop__card__img-box {
  overflow: hidden;
}
.cta-shop__card__img {
  height: 35rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.cta-shop__card__heading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
.cta-shop__card__heading:hover {
  cursor: pointer;
  color: #99BC85;
}

.cta-blog {
  margin: 5rem 10rem;
}
.cta-blog__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
.cta-blog__paragraph {
  text-align: center;
  font-size: 1.6rem;
}
.cta-blog__container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.cta-blog__card {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
.cta-blog__card__img-box {
  overflow: hidden;
}
.cta-blog__card__img-box:hover .cta-blog__card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.cta-blog__card__img {
  height: 40rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 46.875em) {
  .cta-blog__card__img {
    height: 30rem;
  }
}
.cta-blog__card__heading {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.cta-blog__card__paragraph {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.footer {
  padding: 5rem 10rem;
  padding-bottom: 2rem;
  background-color: #D4E7C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
@media only screen and (max-width: 76em) {
  .footer__contents {
    gap: 3rem;
  }
}
.footer__insta-feed__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__insta-feed__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.footer__insta-feed__image {
  height: 7rem;
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__insta-feed__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}
@media only screen and (max-width: 76em) {
  .footer__links {
    gap: 5rem;
  }
}
.footer__links-header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.footer__link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__link:hover {
  color: #99BC85;
}
.footer__newsletter__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer__newsletter__paragraph {
  font-size: 1.4rem;
}
.footer__newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer__newsletter__input {
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  margin-bottom: 1.2rem;
}
.footer__newsletter__input:focus {
  outline-color: #99BC85;
}
.footer__newsletter__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 1.3rem;
  color: grey;
}
.footer__newsletter__input::-moz-placeholder {
  font-family: inherit;
  font-size: 1.3rem;
  color: grey;
}
.footer__newsletter__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 1.3rem;
  color: grey;
}
.footer__newsletter__input::-ms-input-placeholder {
  font-family: inherit;
  font-size: 1.3rem;
  color: grey;
}
.footer__newsletter__input::placeholder {
  font-family: inherit;
  font-size: 1.3rem;
  color: grey;
}
.footer__copyright {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}
.footer__copyright__link {
  color: #99BC85;
  padding-bottom: 0.2rem;
}
.btn {
  font-size: 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
}
.btn-primary {
  background-color: #99BC85;
}
.btn:hover {
  background-color: #7daa64;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.card-25 {
  width: 25%;
}
.card__figure {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
@media only screen and (max-width: 46.875em) {
  .card__img {
    height: 25rem;
  }
}
.card__read-more {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #99BC85;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.card__heading {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.card__text {
  margin: 2rem 4rem;
  font-size: 1.7rem;
  font-weight: 700;
}
.card__text:hover {
  color: #99BC85;
  cursor: pointer;
}
.card__price {
  font-size: 1.5rem;
  color: #99BC85;
  font-weight: 700;
}
.card:hover .card__read-more {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}