.m {

    &t-sm {margin-top: 2rem;}
    &t-md {margin-top: 3rem;}
    &t-lg {margin-top: 4rem;}
    &t-xl {margin-top: 5rem;}
    &t-xxl {margin-top: 6rem;}
    &t-xxxl {margin-top: 7rem;}
    &t-xxxxl {margin-top: 8rem;}

    &b-sm {margin-bottom: 2rem;}
    &b-md {margin-bottom: 3rem;}
}