$color-primary: #99BC85;
$color-secondary: #BFD8AF;
$color-tertiary: #D4E7C5;
$color-bg: #E1F0DA;

$bp-xlg: 81.25em; // 1300px
$bp-lg: 76em; // 1216px
$bp-md: 68.75em; // 1100px
$bp-sm: 46.875em; // 750px 